body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header_container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header_container .logo {
    padding: 0px 10%;
    cursor: pointer; }
  .header_container_nav_bar {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px; }
    .header_container_nav_bar_item {
      text-decoration: none;
      color: #646464; }
      .header_container_nav_bar_item:hover {
        color: #212121; }
  .header_container_reg {
    padding-top: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    padding-right: 63px; }
    .header_container_reg a {
      background: #CAA892;
      border-radius: 15px 0px;
      text-decoration: none;
      color: #FFFFFF;
      padding: 5px 19px; }
    .header_container_reg:hover {
      filter: grayscale(25%); }

.what_container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  position: relative; }
  .what_container_content {
    padding-top: 161px; }
  .what_container_title {
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px; }
  .what_container_description {
    padding-top: 13px;
    width: 575.65px;
    height: 172.58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: #212121;
    line-height: 78px; }
  .what_container_text {
    padding-top: 25px;
    width: 632.27px;
    height: 99.57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px; }
  .what_container_low {
    padding-top: 60px; }
    .what_container_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .what_container_low_button:hover {
        filter: grayscale(45%); }
  .what_container_photo {
    padding-top: 91px; }
    .what_container_photo img {
      width: 100%; }
  .what_container_point {
    position: absolute;
    bottom: -200px;
    left: 10px; }

/* Beginning of Section ABOUT US content stylesheet */
.container_about {
  height: 968.38px;
  display: flex;
  justify-content: space-between;
  padding: 140px 10%;
  position: relative; }
  .container_about_photo {
    padding-top: 91px; }
    .container_about_photo img {
      width: 100%; }
  .container_about_content {
    padding-top: 90px;
    padding-left: 50px; }
  .container_about_title {
    color: #646464;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px; }
  .container_about_description {
    padding-top: 13px;
    height: 125px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #212121;
    line-height: 57px; }
  .container_about_text {
    padding-top: 25px;
    width: 544px;
    height: 260px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px; }
  .container_about_low {
    padding-top: 27px; }
    .container_about_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .container_about_low_button:hover {
        filter: grayscale(45%); }
  .container_about_point {
    position: absolute;
    bottom: -75px;
    left: 100px; }

.container_twenty {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%;
  position: relative; }
  .container_twenty_photo {
    padding-top: 11px; }
    .container_twenty_photo img {
      width: 40%; }
  .container_twenty_content {
    padding-top: 100px; }
  .container_twenty_description {
    padding-top: 13px;
    width: 600px;
    height: 199px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #212121;
    line-height: 65px;
    letter-spacing: 0.04em; }
  .container_twenty_low {
    padding-top: 27px; }
    .container_twenty_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .container_twenty_low_button:hover {
        filter: grayscale(45%); }
  .container_twenty_group {
    padding-right: 150px; }
    .container_twenty_group img {
      width: 115%;
      height: 110%; }
  .container_twenty_point {
    position: absolute;
    bottom: 175px;
    right: 10px; }

.container_completed {
  margin-top: 200px; }
  .container_completed_content {
    background: #F8F8F8;
    height: 777px; }
    .container_completed_content_title {
      padding: 87px 10%;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 60px;
      color: #212121;
      text-align: center; }
    .container_completed_content_block {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 10%; }
      .container_completed_content_block_glav {
        z-index: 999;
        padding-top: 87px; }
        .container_completed_content_block_glav_project {
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif; }
          .container_completed_content_block_glav_project_nine {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121; }
          .container_completed_content_block_glav_project_pr {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464; }
      .container_completed_content_block .horizontal_line_first {
        position: absolute;
        bottom: 199px;
        left: 248px;
        border-top: 2px solid #E0E0E0;
        width: 10%;
        z-index: 1; }
      .container_completed_content_block .vertical_line_first {
        position: absolute;
        bottom: 90px;
        left: 390px;
        border-left: 2px solid #E0E0E0;
        height: 30%; }
      .container_completed_content_block .horizontal_line_second {
        position: absolute;
        bottom: 90px;
        left: 390px;
        border-top: 2px solid #E0E0E0;
        width: 10%;
        z-index: 1; }
      .container_completed_content_block_cl {
        padding-top: 183px;
        z-index: 999; }
        .container_completed_content_block_cl_client {
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif; }
          .container_completed_content_block_cl_client_five {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121; }
          .container_completed_content_block_cl_client_happy {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464; }
      .container_completed_content_block .vertical_line_second {
        position: absolute;
        bottom: 90px;
        left: 720px;
        border-left: 2px solid #E0E0E0;
        height: 100px; }
      .container_completed_content_block_win {
        padding-top: 87px; }
        .container_completed_content_block_win_winners {
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif; }
          .container_completed_content_block_win_winners_three {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121; }
          .container_completed_content_block_win_winners_winners {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464; }
      .container_completed_content_block .vertical_line_third {
        position: absolute;
        bottom: 90px;
        left: 1040px;
        border-left: 2px solid #E0E0E0;
        height: 100px; }
      .container_completed_content_block_rec {
        padding-top: 183px; }
        .container_completed_content_block_rec_recoment {
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif; }
          .container_completed_content_block_rec_recoment_one {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121; }
          .container_completed_content_block_rec_recoment_recoment {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464; }

.container_news_content {
  background: #F8F8F8;
  height: 1021px; }
  .container_news_content_title {
    padding: 93px 10%;
    text-align: center; }
    .container_news_content_title_let {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #646464; }
    .container_news_content_title_blog {
      padding-top: 21px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 28px;
      color: #111111; }
  .container_news_content_ifo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10%; }
    .container_news_content_ifo_left_nightstand img {
      width: 554.42px;
      height: 387.24px; }
    .container_news_content_ifo_left_trend {
      padding-top: 42px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 28px;
      color: #212121; }
    .container_news_content_ifo_left_lorem {
      padding-top: 17px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .container_news_content_ifo_left_low {
      padding-top: 45px; }
      .container_news_content_ifo_left_low button {
        cursor: pointer;
        border: none;
        background: #37806B;
        border-radius: 20px 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        padding: 13px 35px; }
        .container_news_content_ifo_left_low button:hover {
          filter: grayscale(45%); }
    .container_news_content_ifo_right {
      padding-left: 50px; }
      .container_news_content_ifo_right_room img {
        width: 553.05px;
        height: 386.28px; }
      .container_news_content_ifo_right_trend {
        width: 606px;
        padding-top: 42px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 28px;
        color: #212121; }
      .container_news_content_ifo_right_lorem {
        padding-top: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #646464; }

.container_sign {
  padding-top: 80px; }
  .container_sign_content {
    text-align: center;
    padding: 0 10%; }
    .container_sign_content_title_forg {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 28px;
      color: #212121; }
    .container_sign_content_title_line {
      margin-top: 37px;
      margin-left: 350px;
      border: 1px solid #C4C4C4;
      width: 461px;
      z-index: 1; }
    .container_sign_content_title_find {
      padding-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .container_sign_content_name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 39px 20%; }
      .container_sign_content_name .name #your_name {
        border: none;
        width: 317px;
        height: 48px;
        padding-left: 25px;
        background: #EEEEEE;
        border-radius: 20px 0px; }
      .container_sign_content_name .name #your_surname {
        border: none;
        width: 317px;
        height: 48px;
        padding-left: 25px;
        background: #EEEEEE;
        border-radius: 20px 0px; }
    .container_sign_content_email {
      padding: 58px 20%; }
      .container_sign_content_email #your_email {
        border: none;
        width: 772px;
        height: 48px;
        padding-left: 25px;
        background: #EEEEEE;
        border-radius: 20px 0px; }
    .container_sign_content_sumbs {
      padding-top: 90px; }
      .container_sign_content_sumbs #sub_btn {
        cursor: pointer;
        border: none;
        background: #37806B;
        border-radius: 0px 0px 20px 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        padding: 13px 35px; }

/* Beginning of Footer content stylesheet */
.footer {
  padding: 0 10%;
  padding-top: 80px;
  display: flex;
  justify-content: space-between; }
  .footer_name_book {
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #646464; }
  .footer_info {
    display: flex;
    flex-direction: row; }
    .footer_info_link {
      width: 182px;
      height: 253px; }
      .footer_info_link_p1 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121; }
      .footer_info_link_list {
        width: 182px;
        list-style-type: none; }
        .footer_info_link_list li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464; }
    .footer_info_item {
      padding-left: 5%;
      width: 182px;
      height: 253px; }
      .footer_info_item_p2 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121; }
      .footer_info_item_list {
        width: 182px;
        list-style-type: none; }
        .footer_info_item_list li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464; }
    .footer_info_contact {
      padding-left: 5%;
      width: 182px;
      height: 253px; }
      .footer_info_contact_p3 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121; }
      .footer_info_contact_list {
        width: 182px;
        list-style-type: none; }
        .footer_info_contact_list li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464; }
  .footer_social_media_app {
    width: 111px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #111111; }
  .footer_social_media_icon {
    padding-top: 20px; }
    .footer_social_media_icon button {
      cursor: pointer;
      width: 37.17px;
      height: 37.17px;
      background-color: #D5D5D5;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      border: none; }
    .footer_social_media_icon_button_facebook:hover {
      transform: scale(1.3);
      background: #37806B;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
    .footer_social_media_icon_button_instagram:hover {
      transform: scale(1.3);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background: #37806B; }
    .footer_social_media_icon_button_twitter:hover {
      transform: scale(1.3);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background: #37806B; }
    .footer_social_media_icon_button_linkedin:hover {
      transform: scale(1.3);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background: #37806B; }
  @media (max-width: 479px) {
    .footer {
      display: flex;
      flex-direction: column; }
      .footer_name {
        text-align: center; }
      .footer_info {
        display: flex;
        flex-direction: column; } }

.footer_line {
  margin-top: 70px;
  border: 1px solid #C4C4C4;
  width: 100%; }

.rights {
  text-align: center;
  margin: 84px 0 79px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #646464; }
  .rights span {
    color: #37806B; }

/* Ending of of Footer content stylesheet */
* {
  transition: all .1s ease-in;
  box-sizing: border-box; }

.container_weather {
  padding-top: 50px;
  text-align: center;
  font-size: 0;
  font-family: 'Open Sans', sans-serif; }
  .container_weather_header {
    color: #646464;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 32px;
    cursor: pointer; }
    .container_weather_header:hover {
      color: #212121; }
  .container_weather_content {
    border: 2px solid #ffffff;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    cursor: pointer; }
    .container_weather_content li {
      color: #ffffff;
      border: 2px solid #ffffff;
      font-size: 24px;
      padding: 20px; }
    .container_weather_content .icons {
      opacity: 0.7;
      margin: 10px 0; }
    .container_weather_content .city1 {
      width: 50%;
      background: #309acd; }
    .container_weather_content .city2 {
      width: 25%;
      background: #30cdcd; }
    .container_weather_content .city3 {
      width: 25%;
      background: #9a669a; }
    .container_weather_content .city4 {
      width: 25%;
      background: #c44545; }
    .container_weather_content .city5 {
      width: 25%;
      background: #e36748; }
    .container_weather_content .city6 {
      width: 25%;
      background: #ffcd66; }
    .container_weather_content .city7 {
      width: 25%;
      background: #9acd9a; }
    .container_weather_content .city8 {
      width: 25%;
      background: #669a9a; }
    .container_weather_content .city9 {
      width: 50%;
      background: #cd669a; }
    .container_weather_content .city10 {
      width: 25%;
      background: #309a66; }
    .container_weather_content .city11 {
      width: 100%;
      background: #66669a; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

* {
  box-sizing: border-box; }

body {
  max-width: 1440px;
  margin: auto; }

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden; }

.slides-container {
  height: 600px;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 100px 0;
  padding: 0; }

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms; }

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1; }

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0; }

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem; }

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%; }

.slide:nth-child(1) .slider_first_title {
  text-align: center; }
  .slide:nth-child(1) .slider_first_title_tes {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #646464; }
  .slide:nth-child(1) .slider_first_title_client {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #212121; }

.slide:nth-child(1) .slider_first_people {
  padding: 100px 10%;
  padding-right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .slide:nth-child(1) .slider_first_people_man {
    position: relative;
    width: 571px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px; }
    .slide:nth-child(1) .slider_first_people_man_name {
      padding-left: 99px;
      padding-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #212121; }
      .slide:nth-child(1) .slider_first_people_man_name span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #646464; }
    .slide:nth-child(1) .slider_first_people_man_lor {
      width: 534px;
      padding-left: 99px;
      padding-top: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .slide:nth-child(1) .slider_first_people_man_lapki {
      position: absolute;
      right: 34px;
      top: 15px;
      font-family: 'Basic Sans SF', sans-serif;
      font-weight: 700;
      font-size: 96px;
      line-height: 109px;
      color: #B0855B; }
    .slide:nth-child(1) .slider_first_people_man_photo {
      position: absolute;
      left: -60px;
      top: 48px; }
  .slide:nth-child(1) .slider_first_people_girl {
    position: relative;
    width: 571px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px; }
    .slide:nth-child(1) .slider_first_people_girl_name {
      padding-left: 99px;
      padding-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #212121; }
      .slide:nth-child(1) .slider_first_people_girl_name span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #646464; }
    .slide:nth-child(1) .slider_first_people_girl_lor {
      width: 534px;
      padding-left: 99px;
      padding-top: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .slide:nth-child(1) .slider_first_people_girl_lapki {
      position: absolute;
      right: 34px;
      top: 15px;
      font-family: 'Basic Sans SF', sans-serif;
      font-weight: 700;
      font-size: 96px;
      line-height: 109px;
      color: #B0855B; }
    .slide:nth-child(1) .slider_first_people_girl_photo {
      position: absolute;
      left: -60px;
      top: 48px; }

.slide:nth-child(2) .slider_second_title {
  text-align: center; }
  .slide:nth-child(2) .slider_second_title_tes {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #646464; }
  .slide:nth-child(2) .slider_second_title_client {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #212121; }

.slide:nth-child(2) .slider_second_people {
  padding: 100px 10%;
  padding-right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .slide:nth-child(2) .slider_second_people_man {
    position: relative;
    width: 571px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px; }
    .slide:nth-child(2) .slider_second_people_man_name {
      padding-left: 99px;
      padding-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #212121; }
      .slide:nth-child(2) .slider_second_people_man_name span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #646464; }
    .slide:nth-child(2) .slider_second_people_man_lor {
      width: 534px;
      padding-left: 99px;
      padding-top: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .slide:nth-child(2) .slider_second_people_man_lapki {
      position: absolute;
      right: 34px;
      top: 15px;
      font-family: 'Basic Sans SF', sans-serif;
      font-weight: 700;
      font-size: 96px;
      line-height: 109px;
      color: #B0855B; }
    .slide:nth-child(2) .slider_second_people_man_photo {
      position: absolute;
      left: -60px;
      top: 48px; }
  .slide:nth-child(2) .slider_second_people_girl {
    position: relative;
    width: 571px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px; }
    .slide:nth-child(2) .slider_second_people_girl_name {
      padding-left: 99px;
      padding-top: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #212121; }
      .slide:nth-child(2) .slider_second_people_girl_name span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #646464; }
    .slide:nth-child(2) .slider_second_people_girl_lor {
      width: 534px;
      padding-left: 99px;
      padding-top: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #646464; }
    .slide:nth-child(2) .slider_second_people_girl_lapki {
      position: absolute;
      right: 34px;
      top: 15px;
      font-family: 'Basic Sans SF', sans-serif;
      font-weight: 700;
      font-size: 96px;
      line-height: 109px;
      color: #B0855B; }
    .slide:nth-child(2) .slider_second_people_girl_photo {
      position: absolute;
      left: -60px;
      top: 48px; }
