// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header_container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    padding-top: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        padding: 0px 10%;
        cursor: pointer;
      }
    &_nav_bar {
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif;
        width: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
       &_item {
            text-decoration: none;
            color: #646464;
            &:hover {
                   color: #212121;
            }
        }
    }
    &_reg {
        padding-top: 10px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 16px;
        padding-right: 63px;
        a {
            background: #CAA892;
            border-radius: 15px 0px;
            text-decoration: none;
            color: #FFFFFF;
            padding: 5px 19px;
        }
        &:hover {
            filter: grayscale(25%);
        }
    }
}
.what_container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
    &_content {
        padding-top: 161px;
    }
    &_title {
        color: #646464;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    &_description {
        padding-top: 13px;
        width: 575.65px;
        height: 172.58px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 72px;
        color: #212121;
        line-height: 78px;

    }
    &_text {
        padding-top: 25px;
        width: 632.27px;
        height: 99.57px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #646464;
        line-height: 30px;
    }
    &_low {
        padding-top: 60px;
        &_button {
            cursor: pointer;
            border: none;
            background: #37806B;
            border-radius: 20px 0px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
            padding: 4px 15px;

            &:hover {
                filter: grayscale(45%);
            }
        }
    }
    &_photo {
        padding-top: 91px;
        position: absolute;
        top: 0px;
        right: -100px;  
        img {
            width: 75%;            
        }  
    }
}