// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    padding: 0px 10%;
    cursor: pointer;
  }

  &_nav_bar {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;

    &_item {
      text-decoration: none;
      color: #646464;

      &:hover {
        color: #212121;
      }
    }
  }

  &_reg {
    padding-top: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    padding-right: 63px;

    a {
      background: #CAA892;
      border-radius: 15px 0px;
      text-decoration: none;
      color: #FFFFFF;
      padding: 5px 19px;
    }

    &:hover {
      filter: grayscale(25%);
    }
  }
}

.what_container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;

  &_content {
    padding-top: 161px;
  }

  &_title {
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }

  &_description {
    padding-top: 13px;
    width: 575.65px;
    height: 172.58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: #212121;
    line-height: 78px;

  }

  &_text {
    padding-top: 25px;
    width: 632.27px;
    height: 99.57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px;
  }

  &_low {
    padding-top: 60px;

    &_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px;

      &:hover {
        filter: grayscale(45%);
      }
    }
  }

  &_photo {
    padding-top: 91px;
    img {
      width: 100%;
    }
  }

  &_point {
    position: absolute;
    bottom: -200px;
    left: 10px;
  }
}
 /* Beginning of Section ABOUT US content stylesheet */
 .container_about {
  height: 968.38px;
  display: flex;
  justify-content: space-between;
  padding: 140px 10%;
  position: relative;
  &_photo {
    padding-top: 91px;
    img {
      width: 100%;
    }
  }
  &_content {
    padding-top: 90px;
    padding-left: 50px;
  }
  &_title {
    color: #646464;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  &_description {
    padding-top: 13px;
    height: 125px;   
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #212121;
    line-height: 57px;
  }

  &_text {
    padding-top: 25px;
    width: 544px;
    height: 260px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px;
  }

  &_low {
    padding-top: 27px;

    &_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px;

      &:hover {
        filter: grayscale(45%);
      }
    }
  }
  &_point {
    position: absolute;
    bottom: -75px;
    left: 100px;
  }
}
// /* Ending of Section ABOUT US content stylesheet */
 .container_twenty {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%;
  position: relative;
  &_photo {
    padding-top: 11px;
    img {
    width: 40%;
    }
  }
  &_content {
    padding-top: 100px;
    
  }
  &_description {
    padding-top: 13px;
    width: 600px;
    height: 199px;   
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #212121;
    line-height: 65px;
    letter-spacing: 0.04em;
  }
  &_low {
    padding-top: 27px;
    &_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px;

      &:hover {
        filter: grayscale(45%);
      }
    }
  }
  &_group {
    padding-right: 150px;
    img {
      width: 115%;
      height: 110%;
      
    }
  }
  &_point {    
    position: absolute;
    bottom: 175px;
    right: 10px;
  }
}
// 

.container_completed {
  margin-top: 200px;
  &_content {
     background: #F8F8F8;
     height: 777px;
    &_title{
    padding: 87px 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #212121;
    text-align: center;
    }
    &_block {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 10%;
      &_glav {
        z-index: 999;
        padding-top: 87px;
        &_project {
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif;
          &_nine {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121;
          }
          &_pr {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464;
          }
        }
      }
      .horizontal_line_first {
        position: absolute;
        bottom: 199px;
        left: 248px;
        border-top: 2px solid #E0E0E0;
        width: 10%;
        z-index: 1;
      }
      
      .vertical_line_first{
        position: absolute;
        bottom: 90px;
        left: 390px;
        border-left: 2px solid #E0E0E0;
        height: 30%;
        }
      .horizontal_line_second {
        position: absolute;
        bottom: 90px;
        left: 390px;
        border-top: 2px solid #E0E0E0;
        width: 10%;
        z-index: 1;
      }
      &_cl {
        padding-top: 183px;
        z-index: 999;
        &_client{
          width: 185px;
          height: 182px;
          background: #FFFFFF;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          border-radius: 40px 0px;
          padding: 47px 50px;
          font-family: 'Open Sans', sans-serif;
          &_five {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: #212121;
          }
          &_happy{
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #646464;
          }
        }
      }
      .vertical_line_second{
        position: absolute;
        bottom: 90px;
        left: 720px;
        border-left: 2px solid #E0E0E0;
        height: 100px;
        }
      &_win {
        padding-top: 87px;
      &_winners{
        width: 185px;
        height: 182px;
        background: #FFFFFF;
        box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
        border-radius: 40px 0px;
        padding: 47px 50px;
        font-family: 'Open Sans', sans-serif;
        &_three {
          font-weight: 700;
          font-size: 50px;
          text-align: center;
          color: #212121;
        }
        &_winners {
          font-weight: 700;
          font-size: 18px;
          text-align: center;
          color: #646464;
        }
      }
      }
      .vertical_line_third{
        position: absolute;
        bottom: 90px;
        left: 1040px;
        border-left: 2px solid #E0E0E0;
        height: 100px;
        }
    &_rec {
        padding-top: 183px;
      &_recoment{
        width: 185px;
        height: 182px;    
      background: #FFFFFF;
      box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
      border-radius: 40px 0px;
      padding: 47px 50px;
      font-family: 'Open Sans', sans-serif;
      &_one {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: #212121;
      }
      &_recoment {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #646464;
      }
     }
    }
  }
  }

}
// 
.container_news {
    &_content {
          background: #F8F8F8;
          height: 1021px;

      &_title{
        padding: 93px 10%;
        text-align: center;
        &_let {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #646464;
        }
        &_blog {
          padding-top: 21px;
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 48px;
          line-height: 28px;
          color: #111111;
        }
      }
      &_ifo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        padding: 0px 10%; 
        &_left {
          &_nightstand {
            img {
              width: 554.42px;
              height: 387.24px;
            }
          }
          &_trend {
            padding-top: 42px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 28px;
            color: #212121;
          }
          &_lorem {
            padding-top: 17px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #646464;
          }
            &_low {
              padding-top: 45px;

              button {
                cursor: pointer;
                border: none;
                background: #37806B;
                border-radius: 20px 0px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 18px;
                color: #FFFFFF;
                padding: 13px 35px;

                &:hover {
                  filter: grayscale(45%);
                }
              }
            }
        }  
        &_right {
          padding-left: 50px;
          &_room {
            img {
              width: 553.05px;
              height: 386.28px;
            }
          }
          &_trend {
            width: 606px;
            padding-top: 42px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 28px;
            color: #212121;
          }
          &_lorem {
            padding-top: 17px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #646464;
          }
        }  
      }
    }
}
.container_sign {
  padding-top: 80px;
  &_content {
    text-align: center;
    padding: 0 10%;
    &_title {
      &_forg {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 48px;
            line-height: 28px;
            color: #212121;
      }
      &_line {
        margin-top: 37px;
        margin-left: 350px;
        border: 1px solid #C4C4C4;
        width: 461px;
        z-index: 1;
      }
      &_find {
            padding-top: 40px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #646464;
      }
      
    }
    &_name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 39px 20%;
      .name {
        #your_name {
          border: none;
          width: 317px;
          height: 48px;
          padding-left: 25px;
          background: #EEEEEE;
          border-radius: 20px 0px;
        }
        
        #your_surname {
          border: none;
          width: 317px;
          height: 48px;
          padding-left: 25px;
          background: #EEEEEE;
          border-radius: 20px 0px;
        }

      }
      
    }
    &_email {
      padding: 58px 20%;
      #your_email {
        border: none;
        width: 772px;
        height: 48px;
        padding-left: 25px;
        background: #EEEEEE;
        border-radius: 20px 0px;
      }
    }
    &_sumbs {
      padding-top: 90px;
      #sub_btn {
        cursor: pointer;
        border: none;
        background: #37806B;
        border-radius: 0px 0px 20px 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        padding: 13px 35px;
      }
    }
    
  }
}
/* Beginning of Footer content stylesheet */
.footer {
  padding: 0 10%;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  &_name {
    img {

    }
    &_book {
      width: 350px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: #646464;
    }
  }
  &_info {
    display: flex;
    flex-direction: row;
    &_link {
      width: 182px;
      height: 253px;
      &_p1 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121;
      }
      &_list {
        width: 182px;
        list-style-type: none;
        li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464;
        }
      }
    }
    &_item {
      padding-left: 5%;
      width: 182px;
      height: 253px;
      &_p2 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121;
      }
      &_list {
        width: 182px;
        list-style-type: none;
        li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464;
        }
      }
    }
    &_contact {
      padding-left: 5%;
      width: 182px;
      height: 253px;
      &_p3 {
        width: 182px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #212121;
      }
      &_list {
        width: 182px;
        list-style-type: none;
        li {
          width: 182px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
          color: #646464;
        }
      }
    }
  }
  &_social_media {
    &_app {
        width: 111px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #111111;
    }
    &_icon {
      padding-top: 20px;
      button {
        cursor: pointer;
        width: 37.17px;
        height: 37.17px;
        background-color: #D5D5D5;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border: none;
      }
      &_button_facebook {
        &:hover {
          transform: scale(1.3);
          background: #37806B;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
      }
      &_button_instagram {
        &:hover {
          transform: scale(1.3);
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: #37806B;
        }
      }
      &_button_twitter {
        &:hover {
          transform: scale(1.3);
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: #37806B;
        }
      }
      &_button_linkedin {
        &:hover {
          transform: scale(1.3);
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: #37806B;
        }
      }
      
    }

  }
  @media (max-width: 479px) {
    & {
      display: flex;
      flex-direction: column;
      &_name {
        text-align: center;
      }
      &_info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.footer_line {
  margin-top: 70px;
  border: 1px solid #C4C4C4;
  width: 100%;
}
.rights {
  text-align: center;
  margin: 84px 0 79px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #646464;
  span {
    color: #37806B;
  }
}
/* Ending of of Footer content stylesheet */
* {
  transition: all .1s ease-in;
  box-sizing: border-box;
}

.container_weather {
  padding-top: 50px;
  text-align: center;
  font-size: 0;
  font-family: 'Open Sans', sans-serif;

  &_header {
    color: #646464;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 32px;
    cursor: pointer;
    &:hover {
      color: #212121;
    }
  }

  &_content {
    border: 2px solid #ffffff;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    cursor: pointer;

    li {
      color: #ffffff;
      border: 2px solid #ffffff;
      font-size: 24px;
      padding: 20px;
    }

    .icons {
      opacity: 0.7;
      margin: 10px 0;
    }

    .city1 {
      width: 50%;
      background: #309acd;
    }

    .city2 {
      width: 25%;
      background: #30cdcd;
    }

    .city3 {
      width: 25%;
      background: #9a669a;
    }

    .city4 {
      width: 25%;
      background: #c44545;
    }

    .city5 {
      width: 25%;
      background: #e36748;
    }

    .city6 {
      width: 25%;
      background: #ffcd66;
    }

    .city7 {
      width: 25%;
      background: #9acd9a;
    }

    .city8 {
      width: 25%;
      background: #669a9a;
    }

    .city9 {
      width: 50%;
      background: #cd669a;
    }

    .city10 {
      width: 25%;
      background: #309a66;
    }

    .city11 {
      width: 100%;
      background: #66669a;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: 600px;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 100px 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}


.slide:nth-child(1) {
.slider_first {
  &_title {
    text-align: center;
    &_tes {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #646464;
    }
    &_client {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
      color: #212121;
    }
  }
  &_people {
    padding: 100px 10%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_man {
      position: relative;
      width: 571px;
      height: 226px;
      background: #FFFFFF;
      box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
      border-radius: 70px 0px;
      &_name {
        padding-left: 99px;
        padding-top: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
        span {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #646464;
        }
      }
      &_lor {
          width: 534px;
          padding-left: 99px;
          padding-top: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #646464;
      }
      &_lapki {
        position: absolute;
        right: 34px;
        top: 15px;
        font-family: 'Basic Sans SF', sans-serif;
        font-weight: 700;
        font-size: 96px;
        line-height: 109px;
        color: #B0855B;
      }
      &_photo {
        position: absolute;
        left: -60px;
        top: 48px;
      }
    }
    &_girl {
            position: relative;
            width: 571px;
            height: 226px;
            background: #FFFFFF;
            box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
            border-radius: 70px 0px;
      &_name {
        padding-left: 99px;
        padding-top: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
        span {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #646464;
        }
      }
      &_lor {
          width: 534px;
          padding-left: 99px;
          padding-top: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #646464;
      }
      &_lapki {
        position: absolute;
        right: 34px;
        top: 15px;
        font-family: 'Basic Sans SF', sans-serif;
        font-weight: 700;
        font-size: 96px;
        line-height: 109px;
        color: #B0855B;
      }
      &_photo {
        position: absolute;
        left: -60px;
        top: 48px;
      }
    }
  }
}
}

.slide:nth-child(2) {
.slider_second {
  &_title {
    text-align: center;
    &_tes {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #646464;
    }
    &_client {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
      color: #212121;
    }
  }
  &_people {
    padding: 100px 10%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_man {
      position: relative;
      width: 571px;
      height: 226px;
      background: #FFFFFF;
      box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
      border-radius: 70px 0px;
      &_name {
        padding-left: 99px;
        padding-top: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
        span {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #646464;
        }
      }
      &_lor {
          width: 534px;
          padding-left: 99px;
          padding-top: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #646464;
      }
      &_lapki {
        position: absolute;
        right: 34px;
        top: 15px;
        font-family: 'Basic Sans SF', sans-serif;
        font-weight: 700;
        font-size: 96px;
        line-height: 109px;
        color: #B0855B;
      }
      &_photo {
        position: absolute;
        left: -60px;
        top: 48px;
      }
    }
    &_girl {
            position: relative;
            width: 571px;
            height: 226px;
            background: #FFFFFF;
            box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
            border-radius: 70px 0px;
      &_name {
        padding-left: 99px;
        padding-top: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
        span {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #646464;
        }
      }
      &_lor {
          width: 534px;
          padding-left: 99px;
          padding-top: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #646464;
      }
      &_lapki {
        position: absolute;
        right: 34px;
        top: 15px;
        font-family: 'Basic Sans SF', sans-serif;
        font-weight: 700;
        font-size: 96px;
        line-height: 109px;
        color: #B0855B;
      }
      &_photo {
        position: absolute;
        left: -60px;
        top: 48px;
      }
    }
  }
}
}

