body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header_container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  padding: 20px 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header_container .logo {
    padding: 0px 10%;
    cursor: pointer; }
  .header_container_nav_bar {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px; }
    .header_container_nav_bar_item {
      text-decoration: none;
      color: #646464; }
      .header_container_nav_bar_item:hover {
        color: #212121; }
  .header_container_reg {
    padding-top: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    padding-right: 63px; }
    .header_container_reg a {
      background: #CAA892;
      border-radius: 15px 0px;
      text-decoration: none;
      color: #FFFFFF;
      padding: 5px 19px; }
    .header_container_reg:hover {
      filter: grayscale(25%); }

.what_container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  position: relative; }
  .what_container_content {
    padding-top: 161px; }
  .what_container_title {
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px; }
  .what_container_description {
    padding-top: 13px;
    width: 575.65px;
    height: 172.58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: #212121;
    line-height: 78px; }
  .what_container_text {
    padding-top: 25px;
    width: 632.27px;
    height: 99.57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px; }
  .what_container_low {
    padding-top: 60px; }
    .what_container_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .what_container_low_button:hover {
        filter: grayscale(45%); }
  .what_container_photo {
    padding-top: 91px; }
    .what_container_photo img {
      width: 100%; }
  .what_container_point {
    position: absolute;
    bottom: -200px;
    left: 10px; }

/* Beginning of Section ABOUT US content stylesheet */
.container_about {
  display: flex;
  justify-content: space-between;
  padding: 140px 10%;
  position: relative; }
  .container_about_photo {
    padding-top: 91px; }
    .container_about_photo img {
      width: 100%; }
  .container_about_content {
    padding-top: 90px;
    padding-left: 50px; }
  .container_about_title {
    color: #646464;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px; }
  .container_about_description {
    padding-top: 13px;
    height: 125px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #212121;
    line-height: 57px; }
  .container_about_text {
    padding-top: 25px;
    width: 544px;
    height: 260px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    line-height: 30px; }
  .container_about_low {
    padding-top: 27px; }
    .container_about_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .container_about_low_button:hover {
        filter: grayscale(45%); }
  .container_about_point {
    position: absolute;
    bottom: -75px;
    left: 100px; }

.container_twenty {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%;
  position: relative; }
  .container_twenty_photo {
    padding-top: 11px; }
    .container_twenty_photo img {
      width: 40%; }
  .container_twenty_content {
    padding-top: 100px; }
  .container_twenty_description {
    padding-top: 13px;
    width: 600px;
    height: 199px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #212121;
    line-height: 65px;
    letter-spacing: 0.04em; }
  .container_twenty_low {
    padding-top: 27px; }
    .container_twenty_low_button {
      cursor: pointer;
      border: none;
      background: #37806B;
      border-radius: 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 4px 15px; }
      .container_twenty_low_button:hover {
        filter: grayscale(45%); }
  .container_twenty_group {
    padding-right: 150px; }
    .container_twenty_group img {
      width: 115%;
      height: 110%; }
  .container_twenty_point {
    position: absolute;
    bottom: 175px;
    right: 10px; }

* {
  transition: all .1s ease-in;
  box-sizing: border-box; }

.container_weather {
  padding-top: 200px;
  text-align: center;
  font-size: 0;
  font-family: 'Open Sans', sans-serif; }
  .container_weather_header {
    color: #646464;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 32px;
    cursor: pointer; }
    .container_weather_header:hover {
      color: #212121; }
  .container_weather_content {
    border: 2px solid #ffffff;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    cursor: pointer; }
    .container_weather_content li {
      color: #ffffff;
      border: 2px solid #ffffff;
      font-size: 24px;
      padding: 20px; }
    .container_weather_content .icons {
      opacity: 0.7;
      margin: 10px 0; }
    .container_weather_content .city1 {
      width: 50%;
      background: #309acd; }
    .container_weather_content .city2 {
      width: 25%;
      background: #30cdcd; }
    .container_weather_content .city3 {
      width: 25%;
      background: #9a669a; }
    .container_weather_content .city4 {
      width: 25%;
      background: #c44545; }
    .container_weather_content .city5 {
      width: 25%;
      background: #e36748; }
    .container_weather_content .city6 {
      width: 25%;
      background: #ffcd66; }
    .container_weather_content .city7 {
      width: 25%;
      background: #9acd9a; }
    .container_weather_content .city8 {
      width: 25%;
      background: #669a9a; }
    .container_weather_content .city9 {
      width: 50%;
      background: #cd669a; }
    .container_weather_content .city10 {
      width: 25%;
      background: #309a66; }
    .container_weather_content .city11 {
      width: 100%;
      background: #66669a; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
